$color-dark-navy    : #202027;
$color-yellow       : #e1ff8f;
$color-white        : #ffffff;
$color-green        : #bcec30;

$font-family-base   : "Montserrat", sans-serif;
$font-weight-normal : 400;
$font-weight-semi   : 600;
$font-weight-bold   : 700;
 
$fs-xxl             : 64px;
$fs-xl              : 32px;
$fs-lg              : 30px;
$fs-md              : 24px;
$fs-sm              : 14px;

$radius-lg          : 30px;
$radius-pill        : 60px;

$spaces             : (
		8,
		24,
		32,
		64
);
